In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [ ]:
df=pd.read_csv('glassdoor_jobs.csv')
df.head()

In [ ]:
#data clense :
#clean salary and make then int

#slary parsing 
#removing all the -1 values from glass dataset 
df=df[df['Salary Estimate']!= '-1']
df

In [ ]:
#the variable salary will have all the numeric values :

salary = df['Salary Estimate'].apply(lambda x:x.split("(")[0])
salary

In [ ]:
#remove the $ sign :

remove_kd=salary.apply(lambda x : x.replace('K', ' ').replace('$',' '))
for i in remove_kd:
  print(i)

In [ ]:
#removing "per hour"  from remove_kd
removed_per_hour=remove_kd.apply(lambda x: x.lower().replace('per hour', ' '))

for i in removed_per_hour:
  print(i)

In [ ]:
#removing ' employer provided salary:' from removed_per_hour:
removed_EPS= removed_per_hour.apply(lambda x:x.lower().replace('employer provided salary:', ''))


for i in removed_EPS:
  print(i)

In [12]:
removed_EPS

#now make a new col with min slary and max salary ::

df['min_salary']=removed_EPS.apply(lambda x : int(x.split('-')[0]))

In [13]:
#make a new col of max salary ::

df['max_salary']=removed_EPS.apply(lambda x : int(x.split('-')[1]))

In [14]:
#make a col for avg salary ::

df['avg_salary']=(df.min_salary+df.max_salary)/2

In [ ]:
#making a new column with the state of jobs :
df['job_state']=df['Location'].apply(lambda x: x.split(',')[1])
df

In [ ]:
#total jobs in each state :: 
print("Total jobs in each state :: ")
print(df.job_state.value_counts())

In [ ]:
#making a new colum
#if there is an 'per hour' in salary estimate then df["Hourly"]==1 else df["Hourly"]==0
df['Hourly']=df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df

In [17]:
#if the Salary estimate column has a value == employer provided then df[employer provided] ==1]
#else df[employer provided]==0

#function to append 1 if employer provided else append 0:::
def new_col_employer_provided():
  emp=[]
  for i in df['Salary Estimate']:
    if 'employer provided salary:' in i.lower():
      emp.append(1)
    else :
      emp.append(0)
  return emp


#function calling ::
function_result = new_col_employer_provided()
df['employer provided']=function_result

In [ ]:
g=df['Company Name'].apply(lambda x:print(x) if '\n' in x else print("No"))
g


df[['Company Name']]

In [19]:
#making a new col containgin the text from company name only :

df['company_name_text'] = df['Company Name'].apply(lambda x : x.split("\n"))

In [ ]:
#a new col for the company age ::
df['company_age']=df['Founded'].apply( lambda x :x if x <1 else  pd.datetime.now().year-x)

In [62]:
# a new col if the company headquarter and location in the same state::::::::::
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [66]:
remove_to = df['Revenue'].apply(lambda x: x.replace('to','-'))

In [ ]:
#manupulation practice ::

remove_dolar=remove_to.apply(lambda x : x.replace('$', ''))
remove_dolar

In [ ]:
#make a new col if the job has python in the job description ::
#python related jobs :
df['python_jobs']=df['Job Description'].apply(lambda x : 1 if 'python' in x.lower() else 0)


df.python_jobs.value_counts()

In [ ]:
#make a col if the job description has AI  in it ::
df['ai_jobs']=df['Job Description'].apply(lambda x: 1 if 'artificial intelligence' in x.lower() else 0)
df.ai_jobs.value_counts()

In [ ]:
#if there is a bachelor degree is needed ::
df['Bachelor_degree'] = df['Job Description'].apply(lambda x : 1 if 'bachelorâ€™s degree' in x.lower() else 0)
batch.value_counts()

In [104]:
df.columns



df_out = df.drop(['Unnamed: 0'], axis =1)

df_out.to_csv('salary_data_cleaned.csv',index = False)

In [105]:
df_out.head()

                   Job Title              Salary Estimate  ... python_jobs  ai_jobs
0             Data Scientist   $53K-$91K (Glassdoor est.)  ...           1        1
1  Healthcare Data Scientist  $63K-$112K (Glassdoor est.)  ...           1        0
2             Data Scientist   $80K-$90K (Glassdoor est.)  ...           1        0
3             Data Scientist   $56K-$97K (Glassdoor est.)  ...           1        0
4             Data Scientist  $86K-$143K (Glassdoor est.)  ...           1        0

[5 rows x 25 columns]